<!--<header>
    <div class="container">
        <nav class="navbar navbar-light bg-primary">
         <a href="#" routerLink="/" class="logo">Kitchen Story</a>
            <ul>
                
                <li>
                    <a href="#" routerLink="/adminLogIn">Admin Login</a>
                </li>
                
            </ul>
        </nav>

    </div>
</header>-->

<header>
    <div class="container">
      <a routerLink="/" class="logo">Kitchen Story</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/adminLogIn"> Admin Login</a>
          </li>
          
          
        </ul>
      </nav>
    </div>
  </header>