
<form class="container">
    <div class="form-group">
        <label for="exampleInputNewPassword">New Password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword">
    </div>

    <!--<div class="form-group">
        <label for="exampleInputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword">
    </div>-->
    
    <button type="submit" class="btn btn-primary" (click)="editPassword()">Save</button>
</form>
